{% extends "base.html" %}

{% block content %}
    {% for error in errors %}
        <div class="error">{{ error }}</div>
    {% endfor %}
    <title>Admin page - Confirm update stops, stations & places</title>

    <article>
        <table class="balsa-table">
            <tr>
                <td></td>
                <td class='balsa-table balsa-table-header'>STOP</td>
                <td class='balsa-table balsa-table-header'>STATION</td>
                <td class='balsa-table balsa-table-header'>PLACE</td>
                <td class='balsa-table balsa-table-header'>Location zoom</td>
            </tr>
            <tr>
                <td class='balsa-table balsa-table-col-1'>updated (awaiting confirmation)</td>
                <td class='balsa-table balsa-table-col'>{{update_num_stops}}</td>
                <td class='balsa-table balsa-table-col'>{{update_num_stations}}</td>
                <td class='balsa-table balsa-table-col'>{{update_num_places}}</td>
                <td class='balsa-table balsa-table-col'>
                  <form action="/update/confirm/update" method="get">
                      <input type="hidden" name="offset" value="{{offset}}">
                      <input class="button" type="submit" value="Next"/>
                  </form>
                </td>
            </tr>
        </table>
    </article>

    <header>
      <h2 class="balsa-space">Please check updated stop:<h2>
    </header>

    <article>
        <table class="balsa-table">
            <tr>
                <td></td>
                <td class='balsa-table balsa-table-header'>Production</td>
                <td class='balsa-table balsa-table-header'>Updated</td>
            </tr>
            {% for attr in compare.data %}
              <tr>
                <td class='balsa-table balsa-table-col-1'>{{ attr.type }}</td>
                <td class='balsa-table balsa-table-col-1 {{attr.style}}'>{{ attr.production }}</td>
                <td class='balsa-table balsa-table-col-1 {{attr.style}}'>{{ attr.update }}</td>
              </tr>
            {% endfor %}
            <tr>
                <td></td>
                <td></td>
                <td class='balsa-table balsa-table-col'>
                  <form action="/update/confirm/update/accept" method="get">
                      <input type="hidden" name="key" value="{{compare.key}}">
                      <input class="button" type="submit" value="Accept"/>
                  </form>
                  <form action="/update/confirm/update/reject" method="get">
                      <input type="hidden" name="key" value="{{compare.key}}">
                      <input class="button" type="submit" value="Reject"/>
                  </form>
                </td>
            </tr>
    </article>

    <p>Go back to <a href="/update">update page.</a></p>
{% endblock %}
