{% extends "base.html" %}

{% block content %}
    {% for error in errors %}
        <div class="error">{{ error }}</div>
    {% endfor %}
    <title>Admin page - Confirm new stops, stations & places</title>

    <article>
        <table class="balsa-table">
            <tr>
                <td></td>
                <td class='balsa-table balsa-table-header'>STOP</td>
                <td class='balsa-table balsa-table-header'>STATION</td>
                <td class='balsa-table balsa-table-header'>PLACE</td>
            </tr>
            <tr>
                <td class='balsa-table balsa-table-col-1'>New (awaiting confirmation)</td>
                <td class='balsa-table balsa-table-col'>{{new_num_stops}}</td>
                <td class='balsa-table balsa-table-col'>{{new_num_stations}}</td>
                <td class='balsa-table balsa-table-col'>{{new_num_places}}</td>
                <td class='balsa-table balsa-table-col'>
                  <form action="/update/confirm/new" method="get">
                      <input type="hidden" name="offset" value="{{offset}}">
                      <input class="button" type="submit" value="Next"/>
                  </form>
                </td>
            </tr>
        </table>
    </article>

    <header>
      <h2 class='balsa-space'>Please check new stop:<h2>
    </header>

    <article>
        <table>
          <form action="/update/confirm/new/accept" method="get">
            {% for stop in compare %}
              <tr>
                <td class='balsa-table balsa-table-col {{stop.style}}'>{{ stop.description }}</td>
                <td class='balsa-table balsa-table-col {{stop.style}}'>{{ stop.type }}</td>
                <td class='balsa-table balsa-table-col-1 {{stop.style}}'>{{ stop.name }}</td>
                <td class='balsa-table balsa-table-col {{stop.style}}'>{{ stop.lat }}</td>
                <td class='balsa-table balsa-table-col {{stop.style}}'>{{ stop.lon }}</td>
                <td class='balsa-table balsa-table-col {{stop.style}}'>
                  {% if stop.new %}
                    <input type="hidden" name="accept" value="{{stop.key}}"/>
                    <input class="button" type="submit" value="Accept"/>
                  {% else %}
                    <input type="checkbox" name="obsolete_key" value="{{stop.key}}" {{stop.checked}}>
                    obsolete
                  {% endif %}
                </td>
              </tr>
            {% endfor %}
          </form>
        </table>
    </article>

    <p class='balsa-space'>Go back to <a href="/update">update page.</a></p>
{% endblock %}
