{% extends "base.html" %}

{% block content %}
    {% for error in errors %}
        <div class="error">{{ error }}</div>
    {% endfor %}
    <title>Admin page - Import stops, stations & places</title>

    <header>
      <h1>Upload Openstreetmap data for import<h1>
    </header>

    <article>
      <!-- uploads file to blobstore -->
      <form action="{{ upload_url }}" enctype="multipart/form-data" method="post">
        <div><label>Import file:</label></div>
        <div><input type="file" name="osmdata"/></div>
        <p>You may use a zip compressed file.</p>
        <div><input class="button" type="submit" value="load"/></div>
      </form>
    </article>
{% endblock %}
