{% extends "base.html" %}

{% block content %}
  <div class="balsa-admin-background">
    {% for error in errors %}
        <div class="error">{{ error }}</div>
    {% endfor %}
    <title>Admin page - Update stops, stations & places</title>

    {% if import_status %}
        <p class="balsa-watch">{{ import_status }}</p>
    {% endif %}
    {% if update_status %}
        <p class="balsa-watch">{{ update_status }}</p>
    {% endif %}

    <header>
      <h2 class="balsa-space">Data statistics<h2>
    </header>

    <article>
        <table class="balsa-table">
            <tr>
                <td></td>
                <td class='balsa-table balsa-table-header'>STOP</td>
                <td class='balsa-table balsa-table-header'>STATION</td>
                <td class='balsa-table balsa-table-header'>PLACE</td>
                <td class='balsa-table balsa-table-header'>Location zoom</td>
            </tr>
            <tr>
                <td class='balsa-table balsa-table-col-1'>production data</td>
                <td class='balsa-table balsa-table-col'>{{production_num_stops}}</td>
                <td class='balsa-table balsa-table-col'>{{production_num_stations}}</td>
                <td class='balsa-table balsa-table-col'>{{production_num_places}}</td>
                <td class='balsa-table balsa-table-col'>{{gov_num}}</td>
            </tr>
            <tr>
                <td class='balsa-table balsa-table-col-1'>updated (awaiting confirmation)</td>
                <td class='balsa-table balsa-table-col'>{{update_num_stops}}</td>
                <td class='balsa-table balsa-table-col'>{{update_num_stations}}</td>
                <td class='balsa-table balsa-table-col'>{{update_num_places}}</td>
                <td class='balsa-table balsa-table-col'>
                  <form action="/update/confirm/update" method="get">
                      <input class="button" type="submit" value="Confirm update"/>
                  </form>
                </td>
            </tr>
            <tr>
                <td class='balsa-table balsa-table-col-1'>new or replaced (awaiting confirmation)</td>
                <td class='balsa-table balsa-table-col'>{{new_num_stops}}</td>
                <td class='balsa-table balsa-table-col'>{{new_num_stations}}</td>
                <td class='balsa-table balsa-table-col'>{{new_num_places}}</td>
                <td class='balsa-table balsa-table-col'>
                  <form action="/update/confirm/new" method="get">
                      <input class="button" type="submit" value="Confirm additions"/>
                  </form>
                </td>
            </tr>
        </table>

    </article>

    <header>
      <h2 class="balsa-space">Upload Openstreetmap data for update<h2>
    </header>

    <article>
      <!-- uploads file to blobstore -->
      <form action="{{ upload_url }}" enctype="multipart/form-data" method="post">
        <input name="action" type="hidden" value="update">
        <div><label>Import file:</label></div>
        <div><input type="file" name="osmdata"/></div>
        <p>You may use a zip compressed file.</p>
        <div><input class="button" type="submit" value="load"/></div>
      </form>
    </article>


    <header>
      <h2 class="balsa-space">Purge database: Delete all datasets for stops, stations and places!<h2>
    </header>

    <article>
      <form action="/purge" enctype="multipart/form-data" method="get">
        <div><input class="button" type="submit" value="delete all"/></div>
      </form>
    </article>

  </div>
{% endblock %}
